<!DOCTYPE html>
<html>
<head>
    <title>Changer le Lieu</title>
</head>
<body>
    <h1>Changer le Lieu pour {{ client.email }}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="lieu">Lieu :</label>
        <select name="lieu" id="lieu">
            {% for key, value in client.LIEUX %}
                <option value="{{ key }}" {% if key == client.lieu %}selected{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Mettre à Jour</button>
    </form>
    <a href="{% url 'client_list' %}">Retour à la liste des clients</a>
</body>
</html>
